.filters {
  display: flex;
  gap: 0.5em;
}

.filterButton {
  padding: 0.5em 1em;
  border: none;
  background-color: #f0f0f0;
  color: #666;
  border-radius: 9999px; // Pill shape
  font-size: 0.875em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: #242426; // Dark purple
    ; // Dark purple
    color: white;
  }
}



