.newsPreview {
  display: block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    .title {
      text-decoration: underline;
    }
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.75em;
}

.image {
  object-fit: cover;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.title {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  color: #111;
  line-height: 1.4;
}

.time {
  font-size: 0.875em;
  color: #999;
  margin: 0;
}


