.AuthButton {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &:hover {
        background-color: #a7a7a71c;
        cursor: pointer;
    }
}